body {
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    font-weight: bold;
    font-size: 14px !important;
}

big {
    font-size: 22px !important;
}

small {
    font-size: 16px !important;
}

p.teaser {
    text-indent: 30px;
}


.nav-second-level {
    font-size: 12px;
}

.quantite {
    background-color: #32cbd2;
    color: #000;
    text-align: center;
}

.quantite + td,
.quantite + th{
    background-color: #cdecfe;
    color: #000;
    border-right-color: #4c5667 !important;
    text-align: center;
}

.quantite + td.quantite-sansborder,
.quantite + th.quantite-sansborder {
    border-right: #4c5667 !important;
}

.quantite + td + .quantite-avecborder,
.quantite + th + .quantite-avecborder {

    border-right-color: #000 !important;
}




.table-bordered>tbody>tr>td.separation,
.table-bordered>tbody>tr>th.separation,
.table-bordered>tfoot>tr>td.separation,
.table-bordered>tfoot>tr>th.separation,
.table-bordered>thead>tr>td.separation,
.table-bordered>thead>tr>th.separation  {
    border-right-color: #000 !important;
}

.disabled {
    cursor: not-allowed;
    background: #ddd !important;
}

tfoot > tr:first-child{
    background: #92cddc;
}
tfoot > tr:first-child th,
tfoot > tr:first-child th.active,
tfoot > tr:first-child th.quantite{
    background: none !important;
    text-align: center;
}

tfoot .quantite,
tfoot .active{
    color: #000 !important;
}

tfoot .quantite + th{
    border-right-color: #4c5667 !important;
}



th.buttons{
    text-align: center;
    padding: 0 !important;
}

.first_upper {
    text-transform: capitalize;
}


.gris-box {
    background: #4F5467;
    color: #ffffff;
}

.gris-box .box-title {
    color: #ffffff;
}
/**************************************************/

.text-desactive {
    text-decoration: line-through;
    color: #FF0000;
}

.table-bordered>tbody>tr>td.cell-box-left,
.table-bordered>tbody>tr>th.cell-box-left {
    border-left: 3px solid #000 !important;
}

.table-bordered>tbody>tr>td.cell-box-right,
.table-bordered>tbody>tr>th.cell-box-right {
    border-right: 3px solid #000 !important;
}



.color-bordered-table.inverse-bordered-table thead th.seperator,
.table-bordered>tbody>tr>th.seperator {
    background: #ffffff !important;
    padding: 0 2px !important;
    border-right: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
}

.table>tbody>tr>td.seperator, .table>tbody>tr>th.seperator, .table>tfoot>tr>td.seperator, .table>tfoot>tr>th.seperator, .table>thead>tr>td.seperator, .table>thead>tr>th.seperator {
    background: #FFF !important;
    padding: 0 2px !important;
    border-right: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
}

.table>tfoot>tr>td.seperator,
.table>tfoot>tr>th.seperator {
    background: #ffffff !important;
}

/*
** COULEURS **
*/
.color-bordered-table.inverse-bordered-table.table-commades-v1 thead th,
.color-bordered-table.inverse-bordered-table.table-commades-v2 thead th,
.color-bordered-table.inverse-bordered-table.table-historique-commades-v1  thead th{
	background-color: #595959;
}
tr.gradeX th:first-child{
	background: #a6a6a6;
    color: #ffffff !important;
}
tr.gradeX th:nth-of-type(3){
	background: #fd9bcb;
}
.color-bordered-table.inverse-bordered-table.table-previsions-hebdo thead th{
	background-color: #0b24fb;
}
.color-bordered-table.inverse-bordered-table.table-previsions thead th{
	background-color: #b8677a;
}
.badge-danger{
	background: #fc0d1b;
}
.badge-success{
	background: #92cc57;
}
/**** labbouz en 12/09/2017 ***/

.top-left-part {
    background: #ffffff;
}

/*
table thead
{
    position:fixed !important;
}
*/

.sidebar .fa-fw {
    display: inline-block;
}

.color-table.commandes-table thead th {
    background-color: #595959;
    color: #fff;

}

.color-table.prevesions-hebdomadaires-table thead th {
    background-color: #0b24fb;
    color: #fff;

}

.color-table.prevesions-mensueles-table thead th {
    background-color: #b8677a;
    color: #fff;

}

#side-menu > li > a.active_prevesion_hebdomadair {
    border-bottom: 2px solid #0b24fb !important;
}

#side-menu > li > a.active_prevesion_hebdomadair i {
    color: #0b24fb !important;
}

#side-menu > li > a.active_commande {
    border-bottom: 2px solid #595959 !important;
}

#side-menu > li > a.active_commande i {
    color: #595959 !important;
}

#side-menu > li > a.active_prevesion_mensuel {
    border-bottom: 2px solid #b8677a !important;
}

#side-menu > li > a.active_prevesion_mensuel i {
    color: #b8677a !important;
}

.hide-menu strong {
    color: #fc0d1b;
}

#side-menu ul > li > a.active {
    font-weight:  bold !important;
}

.btn-info.disabled {
    color: #a6a6a6 !important;
}